<div class="form-container">
  <div class="form-card">

    <h2>Edit Position:</h2>

    <%= form_with(model: @position, url: event_position_path(@event, @position), local: true) do |form| %>
      <p>
        <%= form.label :position_type %><br>
        <%= form.text_field :position_type %>
      </p>
      <p>
        <%= form.label :rate %><br>
        <%= form.text_field :rate %>
      </p>
      <p>
        <%= form.label :hours %><br>
        <%= form.text_field :hours %>
      </p>
      <p>
        <%= form.label :requirements %><br>
        <%= form.text_area :requirements %>
      </p>
      <p>
        <%= form.label :additional_information %><br>
        <%= form.text_area :additional_information %>
      </p>
      <p>
        <%= form.submit %>
      </p>
    <% end %>
  </div>
</div>

<%= button_to "Back", user_dashboard_path, method: :get %>