<h1> All Events </h1>
<% if user_signed_in?%>
  <%= link_to 'Create Event', new_event_path %>
<% end %>

<% @events.each do |event| %>
<p>
<%= event.name %>
<%= link_to 'View', event_path(event) %> |
<% if user_signed_in? %>
  <%= link_to 'Edit', edit_event_path(event) %> |
  <%= link_to 'Delete', event_path(event), method: :delete, data: { confirm: 'Are you sure?' }  %>
<% end %>
</p>
<% end %>

