<div class="events-container">
  <h1> Upcoming Events </h1>

  <div class="search-event">
  <p class="search-text">Search for event:</p>
    <%= form_tag events_path, :method => 'get' do %>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag "Search" %>
    <% end %>
    
    <%= button_to 'Back', events_path, method: :get %>
  </div>

  <% @events.each do |event| %>

    <% if event.date_from > Time.now %>
    <div class="event-card">
      <%= image_tag event.picture if event.picture.attached? %>
      <div class="event-info">
        <h2><%= event.name %></h2>
        <p>Date: <%= event.date_from%> - <%=event.date_to %></p>
        <p>Location: <%= event.location %></p>

        <%= button_to 'View Details', event_path(event), method: :get %> 
      </div>
      <% if current_user == event.user %>
        <%= button_to 'Edit', edit_event_path(event), method: :get %> |
        <%= button_to 'Delete', event_path(event), method: :delete, data: { confirm: 'Are you sure?' }  %>
      <% end %>
    </div>
    <% end %>
  <% end %>
</div>





  <% if false %>
    <p> Past events: </p>
    <h3><%= event.name %></h3>
    <p>Date: <%= event.date_from%> - <%=event.date_to %></p>
    <p>Location: <%= event.location %></p>
    <% end %>
 