<h1><%= @event.name %></h1>
<%= image_tag @event.picture if @event.picture.attached? %>
<h2>Location: <%= @event.location %></h2>
<p>Website: www.<%= @event.name.downcase.delete(' ') %>.com.au<p>
<p>Conatct email: <%= @event.contact_email %></p>
<p>Event info: <%= @event.description %></p>
<p>Date/s: <%= @event.date_from %> - <%= @event.date_to %></p>
<p>Event creator: <%= @event.user.email %></p>

<h2>Positions</h2>
<p>
  <%= render @event.positions %>
</p>

<h2>Add a position:</h2>
<%= form_with(model: [ @event, @event.positions.build ], local: true) do |form| %>
  <p>
    <%= form.label :position_type %><br>
    <%= form.text_field :position_type %>
  </p>
  <p>
    <%= form.label :rate %><br>
    <%= form.text_field :rate %>
  </p>
  <p>
    <%= form.label :hours %><br>
    <%= form.text_field :hours %>
  </p>
  <p>
    <%= form.label :requirements %><br>
    <%= form.text_area :requirements %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>

<%= link_to 'Add a new position', new_event_position_path(@event) %><br>
<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>


