<div class="event-show-container">
  <div class="event-and-position-container">

    <div class="event-show-card">
      <h1><%= @event.name %></h1>
      <%= image_tag @event.picture if @event.picture.attached? %>
      <h2>Location: <%= @event.location %></h2>
      <p><b>Website:</b> www.<%= @event.name.downcase.delete(' ') %>.com.au<p>
      <p><b>Conatct email: </b><%= @event.contact_email %></p>
      <p><b>Event info: </b><%= @event.description %></p>
      <p><b>Date: </b><%= @event.date_from %> - <%= @event.date_to %></p>
      <p><b>Event creator: </b><%= @event.user.email %></p>
    </div>
    <div class="event-show-position">
      <h3>Available Positions:</h3>
      <p>
        <%= render @event.positions %>
      </p>

      <% if current_user == @event.user %>
        <%= button_to 'Add a new position', new_event_position_path(@event), method: :get %><br>
        <%= button_to 'Edit event', edit_event_path(@event), method: :get %><br>
      <% end %>
      <%= button_to 'Back', events_path, method: :get %>
    </div>
  </div>
</div>


