<% if current_worker.worker_profile %>
  <h1>Hello, <%= current_worker.worker_profile.first_name %></h1>
<% else %>
  <%= render "worker_profiles/form" %>
<% end %>

<p>
<%= image_tag current_worker.worker_profile.photo if current_worker.worker_profile.photo.attached? %>
</p>
<p>
<%= current_worker.worker_profile.first_name %> <%= current_worker.worker_profile.last_name %>
</p>
<p>
<%= current_worker.worker_profile.bio %>
</p>
<p>
<%= link_to 'Download CV', download_resume_path %> 
</p>
<p>
<%= link_to 'Download Document', download_document_path %> 
</p>
<%= link_to 'Edit Profile', edit_worker_profile_path(current_worker.worker_profile) %>
