
<% if current_worker.worker_profile.persisted? %>
  <h1 class="worker-greeting">Hello, <%= current_worker.worker_profile.first_name %></h1>
  <div class="worker-container">
  <div class="worker-profile-container">
    <p class="profile-picture">
    <%= image_tag current_worker.worker_profile.photo if current_worker.worker_profile.photo.attached? %>
    </p>
    <div class="worker-information">
      <p class="worker-name">
      <%= current_worker.worker_profile.first_name %> <%= current_worker.worker_profile.last_name %>
      </p>
      <p class="worker-location">
      <%= image_tag("pin.png", :alt => "location pin") %>
     <b>Location: </b><%= current_worker.worker_profile.city %>, <%= current_worker.worker_profile.country %>
      </p>
      <p class="worker-email">
      <%= image_tag("mail.png", :alt => "email pin") %>
      <b>Contact email: </b><%= current_worker.email %>
      </p>
      <p class="worker-bio">
      <%= image_tag("user.png", :alt => "bio pin") %>
      <%= current_worker.worker_profile.bio %>
      </p>
      <div class="links-worker">
        <p>
        <%= button_to 'Download CV', download_resume_path, method: :get %> 
        </p><br>
        <p>
        <%= button_to 'Download Qualification', download_document_path, method: :get %> 
        </p><br>
        <%= button_to 'Edit Profile', edit_worker_profile_path(current_worker.worker_profile), method: :get %>
      </div>
    </div>
  </div>
<% elsif %>
  <%= render "worker_profiles/form" %>
<% end %>


  <div class="worker-application-container">
    <h1>Applications</h1>
    <div class="pending-application-container">
      <h2>Pending</h2>
      <% current_worker.applications.each do |application| %>
        <% if application.status == "pending" %>
        <div class="application-card">  
          <p class="application-card-title"><%= application.position.event.name %></p>
          <p>Date: <%= application.position.event.date_from %> - <%= application.position.event.date_to %></p>
          <p>Position: <%= application.position. position_type %></p>
          <p>Location: <%= application.position.event.location %></p>
          <div class="card-button">
            <%= button_to 'Cancel', cancel_event_position_path(application.position.event, application), method: :delete, data: { confirm: 'Are you sure you want to cancel your application?' } %>
          </div>
        </div>
        <% end %>
      <% end %>
    </div>
    <div class="accepted-application-container">
      <h2>Accepted</h2>
      <% current_worker.applications.each do |application| %>
        <% if application.status == "accepted" %>
        <div class="application-card">
          <p class="application-card-title"><%= application.position.event.name %></p>
          <p>Date: <%= application.position.event.date_from %> - <%= application.position.event.date_to %></p>
          <p>Position: <%= application.position. position_type %></p>
          <p>Location: <%= application.position.event.location %></p>
          <div class="card-button">
            <%= button_to 'Cancel', cancel_event_position_path(application.position.event, application), method: :delete, data: { confirm: 'Are you sure you want to cancel your accepted position?' } %>
          </div>
        </div>
        <% end %>
      <% end %>
    </div>
    <div class="rejected-application-conatiner">
      <h2>Rejected</h2>
      <% current_worker.applications.each do |application| %>
        <% if application.status == "rejected" %>
        <div class="application-card">
          <p class="application-card-title"><%= application.position.event.name %></p>
          <p>Date: <%= application.position.event.date_from %> - <%= application.position.event.date_to %></p>
          <p>Position: <%= application.position. position_type %></p>
          <p>Location: <%= application.position.event.location %></p>
          <div class="card-button">
            <%= button_to 'Delete', cancel_event_position_path(application.position.event, application), method: :delete %>
          </div>
        </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>